{% extends "base.html" %}
{% block content %}

<h3>Welcome, {{ username }} ({{ role }})</h3>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card text-white bg-primary shadow">
            <div class="card-body text-center">
                <h5>Total Books</h5>
                <h2>{{ total_books }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success shadow">
            <div class="card-body text-center">
                <h5>Issued Books</h5>
                <h2>{{ issued_books }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-warning shadow">
            <div class="card-body text-center">
                <h5>Available</h5>
                <h2>{{ available_books }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-danger shadow">
            <div class="card-body text-center">
                <h5>Users</h5>
                <h2>{{ total_users }}</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}
